body {margin:0px; background-color:#D8D8D8;word-wrap:break-word;}
body,td {font-family:verdana,arial,sans-serif; font-size:11px; }
h1,h2,h3,h4,h5,h6 {font-family:"Trebuchet MS",helvetica,sans-serif; color:#FF8000; letter-spacing:1px;  }
h1 {font-size:22px;}
h2 {font-size:20px;}
h3 {font-size:18px;}
h4 {font-size:16px;}
h5 {font-size:14px;}
h6 {font-size:14px;}
blockquote {font-family:"Trebuchet MS",helvetica,sans-serif; color:#004A66; font-size:16px; font-style:italic; font-weight:bold; border-top:1px dashed #CCC; border-bottom:1px dashed #CCC; margin:10px; padding:30px 10px 30px 10px; text-align:center; background-color:#EEE; margin-left:0px; }

#pageHeader {height:50px; line-height:50px; color:#80FF00; font-family:"Trebuchet MS",helvetica,sans-serif; font-size:24px; padding:10px 16px 10px 16px; background-color:#004A66;  border-bottom:1px solid #FFF; }
#divBaseLinks {height:30px; background-color:#004A66;  border-top:1px solid #FFF; padding:0px 10px 0px 10px; line-height:30px; color:#FFF;}
#divBaseLinks a:link {color:#FFF; text-decoration:none;}
#divBaseLinks a:visited {color:#FFF; text-decoration:none;}
#divBaseLinks a:hover {color:#FFF; text-decoration:none;}
#divBaseLinks a:active {color:#FFF; text-decoration:none;}
#container {margin:20px; background-color:#FFF;}
#divPageContent {border-top:3px solid #FF8000; border-bottom:3px solid #FF8000; padding:10px 0px 10px 0px;  }
#navcontainer { width: 160px; }
#navcontainer ul {margin-left: 0; padding-left: 0; list-style-type: none; font-family:verdana,arial,sans-serif; }
#navcontainer a { display: block; padding: 4px; width: 160px; background-color: #004A66; border-bottom: 1px solid #FFF; }
#navcontainer a:link, #navlist a:visited {color: #FFF; text-decoration: none; }
#navcontainer a:hover {background-color: #336699; color: #fff; }
#sideBarNews {}
#sideBarNewsContent {background-color:#EEE; padding:10px; }
#newsHeader {height:22px; line-height:22px; color:#80FF00; font-family:"Trebuchet MS",helvetica,sans-serif; font-size:14px; padding:0px 5px 0px 5px; background-color:#004A66;  border-bottom:1px solid #FFF; }

.leftColumn { padding:0p 5px 0px 5px; width:170px;}
.rightColumn {padding:0px 10px 10px 10px; border-left:1px dashed #CCC;}
.subHeader {font-family:"Trebuchet MS",helvetica,sans-serif; color:#004A66; font-size:16px; letter-spacing:1px; font-weight:bold; margin:10px 0px 10px 0px; border-bottom:1px solid #004A66;}
.note {font-weight:bold; color:#800000; font-style:italic; background-color: #FFF0B7; padding:5px; border:1px solid #FFB96C; }
.newsItem {margin-bottom:5px; font-size:9px; }
.readNewsLink {margin-bottom:10px; font-size:9px; }

/* styles for rounded corners */
b.rtop, b.rbottom{display:block;background: #D8D8D8}
b.rtop b, b.rbottom b{display:block;height: 1px; overflow: hidden; background: #004A66}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}


/**********************************/
.grid-pager
{
	background: #bbbbbb;
	border-top: solid 1 black;
}

.grid
{
	border: solid 2px Black;

}

.grid-header
{
	background: #CCCCCC;
	text-decoration: none;
	font-weight: normal;
 
}
.grid-header th
{
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: Black;
	border-bottom: solid 1px black;
	border-right: solid 1px black;
	padding: 1 1 1 4;
	border-bottom-style: outset;
	border-right-style: outset;
	border-width: 1px;	
}
.grid-header a
{
 color: Black;
  text-decoration: none;	
}
.literal
{
	font-size: 12px;
	font-family: Tahoma;
}

