<%@ Page Language="C#" Theme="default" MasterPageFile="~/site.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Admin_Default" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
Admin Site
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<blockquote>
    netTiers 2.0 takes full advantage of .net 2.0 and forges together a feature set decidied by the community and it's presence had an immediate impact on project life-cycles.     
</blockquote>
</asp:Content>


